# Core libraries
pandas == 2.2.3
numpy == 2.2.0
matplotlib
seaborn
scikit-learn
scipy
statsmodels

# Web automation
selenium == 4.27.1

# Jupyter (for nbconvert in CI)
jupyter == 1.1.1
nbconvert == 7.16.4
mistune==3.0.2


# Visualization enhancements 
ipywidgets == 8.1.5

# Render research data management plan
quarto == 0.1.0
